<html>
    <body>
        <div class="container">
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" type="email" placeholder="Enter your email">
                <mat-error *ngIf="signinForm.get('username')?.hasError('required')">Email is required</mat-error>
            </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Enter your password">
                <mat-error *ngIf="signinForm.get('password')?.hasError('required')">Password is required</mat-error>
              </mat-form-field>
              
              <button mat-raised-button color="primary" type="submit" [disabled]="signinForm.invalid">Sign In</button><br><br>
              <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>

            </form>
          </div>
          
    </body>
</html>