<html><body>
  <div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Last Name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="country" placeholder="Country">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>
      </div>
      <!-- Add confirmPassword field if needed -->
      <div>
        <mat-form-field>
          <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Sign Up</button><br><br>

      <p>Already have an account? <a routerLink="/signin">Sign In</a></p>

    </form>
  </div>
  
</body></html>